/emacs/.emacs.d/magit.el
/emacs/.emacs.d/aesthetics.el
/emacs/.emacs.d/auto-save-list/
/emacs/.emacs.d/transient/
/emacs/.emacs.d/recentf.eld
/emacs/.emacs.d/diredconf.el
/emacs/.emacs.d/universal.el
/emacs/.emacs.d/fileman.el
/emacs/.emacs.d/writing.el
/emacs/.emacs.d/markup.el
/emacs/.emacs.d/programming.el
